Flask==2.2.3
pandas==1.5.3
plotly==5.13.0
pygame==2.2.0
pyrebase5==5.0.1
selenium==4.8.2
urllib3==1.26.14
requests==2.28.2
Werkzeug==2.2.3
itsdangerous==2.1.2
Jinja2==3.1.2
json5==0.9.11
cryptography==39.0.2
